<h2 class="text-center">Ejemplo hackathon #hackaccesibilidad</h2>

<section>
  <h3>El reto</h3>
  <ul>
    <li>Crear un minijuego tipo aventura escape room virtual, con un escenario del que hay que lograr salir
      resolviendo puzzles más o menos sencillas.</li>
  </ul>
</section>

<section>
  <h3>Las reglas</h3>
  <ul>
    <li>La tecnología será HTML+CSS+JS. Se podrá usar algún framework de front tipo Angular, React o Vue, pero nunca un
      framework de desarrollo de juegos. Lo importante no es el juego en sí, aunque también, pero sobre todo que sea
      accesible.</li>
    <li>En el escenario habrá diversos objetos con los que el jugador puede interactuar de distintas formas. Una de las
      primeras cosas que deberán hacer es pensar en un método accesible de recorrer el escenario para descubrir e
      interactuar con los objetos.</li>
    <li>Las acciones obligatorias deberían ser al menos: mirar y usar; esta última acción debería permitir usar un
      objeto con otro.</li>
    <li>Todos los objetos deben de tener una respuesta para cada acción, aún cuando ese objeto no se pueda usar.</li>
    <li>Ni que decir tiene que el reto es sobre accesibilidad, evidentemente también se valorarán otras cosas, como la
      jugabilidad, la historia, la dificultad, pero es preferible gráficos “cutres” y juego accesible antes que unos
      gráficos del copón y un juego inaccesible.</li>
  </ul>
</section>

<section>
  <h3>Puntos opcionales</h3>
  <ul>
    <li>Se podrán utilizar otras acciones en los objetos como coger, soltar, abrir, cerrar…</li>
    <li>Se podrá tener un inventario de objetos, que el jugador puede consultar y recorrer para interactuar con ellos.
    </li>
    <li>El escenario podrá ser una única habitación o más de una entre las cuales el jugador pueda moverse.</li>
    <li>Se podrán añadir efectos de sonido al realizar determinadas acciones con los objetos.</li>
  </ul>
</section>

<div>
  <a id="comenzar-link" routerLink="/room">Comenzar</a>
</div>
